:root {
  --main-title-color: #212121;
  --btn-text-color: #2196f3;
  --main-text-color: #757575;
  --main-background-color: #2f303a;
  --second-text-color: #ffffff;
  --color-btn: #ffffff;
  --main-color-icon: #afb1b8;
  --second-background-color: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-form-color: rgba(33, 33, 33, 0.2);
}

body {
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.pointer {
  cursor: pointer;
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-btn);
  background-color: var(--btn-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
}

.main-btn {
  display: block;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-logo__web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px 0px;
  display: block;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 88px;
    padding: 26px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 94px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__link {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms var(--timing-function);
}

.header__link:hover, .header__link:focus {
  color: var(--btn-text-color);
}

@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
  }
}

.header-navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-navigation {
    display: block;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .header-btn__close {
    display: none;
  }
}

.header-contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
    padding: 32px 0px;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__mail {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms var(--timing-function);
}

.header__mail:hover, .header__mail:focus {
  color: var(--btn-text-color);
}

@media screen and (min-width: 1200px) {
  .header__mail {
    padding: 32px 0px;
  }
}

.header-social__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-social__icon {
    margin-right: 8px;
    margin-left: auto;
  }
}

.header__tel {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms var(--timing-function);
}

.header__tel:hover, .header__tel:focus {
  color: var(--btn-text-color);
}

@media screen and (min-width: 1200px) {
  .header__tel {
    padding: 32px 0px;
  }
}

.mobile-menu {
  position: fixed;
  background-color: var(--color-btn);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  z-index: 1;
}

.mobile-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 25px 48px 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-hidden {
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.mobile-menu__open {
  border: none;
  display: flex;
  margin-left: auto;
  background-color: transparent;
  transition: fill 250ms var(--timing-function);
}

.mobile-menu__open:focus, .mobile-menu__open:hover {
  fill: var(--btn-text-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu__open {
    display: none;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  transition: color 250ms var(--timing-function);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--btn-text-color);
}

.mobile-menu__tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--btn-text-color);
}

.mobile-menu__mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.mobile-menu__contacts {
  margin-bottom: 64px;
}

.socials__list {
  display: flex;
}

.vertical-line {
  width: 22px;
  height: 0px;
  left: 135px;
  top: 726px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
  margin-left: 10px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--btn-text-color);
}

.mobile-menu__close {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: transparent;
  transition: fill 250ms var(--timing-function);
}

.mobile-menu__close:focus, .mobile-menu__close:hover {
  fill: var(--btn-text-color);
}

.current {
  color: var(--btn-text-color);
  position: relative;
}

@media screen and (min-width: 768px) {
  .current::after {
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    top: 76px;
    background: var(--btn-text-color);
    border-radius: 2px;
    position: absolute;
  }
}

.hero {
  background-color: var(--main-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagies/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* max-width: 1600px; */
  padding: 118px 60px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagies/hero/hero2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagies/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagies/hero/hero-tablet2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagies/hero/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../imagies/hero/hero-desktop2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 204px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    margin-left: auto;
    margin-right: auto;
    width: 696px;
  }
}

.features__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features__container {
    padding-top: 94px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .features__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.features-wrap__icon {
  background-color: var(--second-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.occupation {
  display: none;
}

@media screen and (min-width: 1200px) {
  .occupation {
    display: block;
  }
}

.occupation-container {
  padding-bottom: 94px;
  padding-top: 94px;
}

.occupation__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.occupation__list {
  display: flex;
}

.occupation__item {
  position: relative;
}

.occupation__item:not(:last-child) {
  margin-right: 30px;
}

.occupation__text {
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.masters {
  background-color: var(--second-background-color);
}

.masters__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .masters__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.masters__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .masters__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .masters__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .masters__list {
    flex-wrap: nowrap;
  }
}

.masters__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.masters__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .masters__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  .masters__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.masters__lead {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.masters__specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.masters__wrap {
  padding-bottom: 30px;
  padding-top: 30px;
}

.masters-social__list {
  display: flex;
  justify-content: center;
}

.masters-social__item {
  width: 44px;
  height: 44px;
}

.masters-social__item + .masters-social__item {
  margin-left: 10px;
}

.masters-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color-icon);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}

.masters-social__link:hover, .masters-social__link:focus {
  background-color: var(--btn-text-color);
  color: var(--color-btn);
}

.masters-social__icon {
  fill: currentColor;
}

.clients__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-wrap: nowrap;
  }
}

.clients__item {
  height: 92px;
  flex-basis: calc(100% / 2 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  color: var(--main-color-icon);
  border: 1px solid var(--main-color-icon);
  border-radius: 4px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  color: var(--btn-text-color);
  border: 1px solid var(--btn-text-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  /* max-width: 1600px; */
  margin-right: 0;
  margin-left: 0;
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}

.footer-box__nav {
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .footer-box__nav {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box__nav {
    text-align: left;
  }
}

.footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-logo__web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

.footer__location {
  font-style: normal;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer__mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-social__title {
    text-align: left;
  }
}

@media screen and (max-width: 1199px) {
  .footer-box__social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-box__social {
    margin-left: 70px;
  }
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__item {
  width: 44px;
  height: 44px;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--timing-function);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--btn-text-color);
}

.footer-social__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer-box__mailing {
    margin-left: 93px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mailing__mail {
    display: flex;
  }
}

.footer-mailing__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-mailing__title {
    text-align: start;
  }
}

.footer-mailing__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
}

.footer-mailing__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-mailing__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mailing__input {
    margin-right: 12px;
    width: 358px;
    margin-bottom: 0;
  }
}

.footer-mailing__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--color-btn);
}

.footer-mailing__icon {
  margin-left: 10px;
  fill: var(--color-btn);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: scale(2) translate(-250px) rotate(250deg);
  transition: transform 250ms var(--timing-function);
}

.modal {
  width: 450px;
  min-height: 609px;
  background-color: var(--color-btn);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 250ms var(--timing-function);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms var(--timing-function);
}

.modal-close:focus, .modal-close:hover {
  fill: var(--btn-text-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-form-color);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 15px;
  outline: none;
  transition: border-color 250ms var(--timing-function);
}

.modal-form__input:focus {
  border-color: var(--btn-text-color);
}

.modal-form-input:focus + .modal__icon {
  fill: var(--btn-text-color);
}

.modal-form__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  color: var(--main-title-color);
  outline: none;
  transition: border-color 250ms var(--timing-function);
}

.modal-form__text::placeholder {
  font-weight: 400;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__text:focus {
  border-color: var(--btn-text-color);
}

.text-form__input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
  display: block;
}

.modal__field {
  margin-bottom: 10px;
}

.modal-form__icon {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.check {
  margin-bottom: 30px;
}

.modal-check__item {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--main-title-color);
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check:focus + .check-text .modal-check__item {
  border-color: var(--btn-text-color);
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-check__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--btn-text-color);
}

.modal-check__icon {
  fill: var(--color-btn);
}

.modal-check:checked + .check-text .modal-check__item {
  background-color: var(--btn-text-color);
  border: 0.2px solid var(--color-btn);
}

.modal-check__item {
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.check-btn {
  transition: background-color 250ms var(--timing-function);
}

.check-btn:focus, .check-btn:hover {
  background-color: #188CE8;
}

.portfolio-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-bottom: 50px;
  }
}

.portfolio__item {
  margin-top: 15px;
  margin-left: 8px;
}

.portfolio__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), border-radius 250ms var(--timing-function);
}

.portfolio__btn:focus, .portfolio__btn:hover {
  color: var(--second-text-color);
  background-color: var(--btn-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-prj__list {
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .portfolio-prj__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio-prj__item {
  margin-left: 30px;
  margin-top: 30px;
  cursor: pointer;
  background-color: var(--second-text-color);
}

@media screen and (min-width: 768px) {
  .portfolio-prj__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-prj__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio-prj__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-prj__text {
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  padding: 63px 24px 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}

.portfolio-prj__link {
  display: block;
}

.portfolio-prj__link:focus, .portfolio-prj__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms var(--timing-function), transform 250ms var(--timing-function);
}

.portfolio-prj__link:hover .portfolio-prj__text,
.portfolio-prj__link:focus .portfolio-prj__text {
  transform: translateY(0);
}

.portfolio__wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.portfolio__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*# sourceMappingURL=main.css.map */