  
  .hero {
    background-color: var(--main-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../imagies/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // max-width: 1600px;
    padding: 118px 60px;
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../imagies/hero/hero2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../imagies/hero/hero-tablet.jpg);
      @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../imagies/hero/hero-tablet2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../imagies/hero/hero-desktop.jpg);
      @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../imagies/hero/hero-desktop2x.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    padding: 118px 204px;
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}
  
  .hero__title {
    margin-bottom: 30px;  
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text-color);
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.62;
    }
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      margin-left: auto;
      margin-right: auto;
      width: 696px;
    }
  }
  